/* TEAM NAV */
#nav-container {
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}

#club-navbar {
  display: -webkit-inline-box;
  font-size: 11pt;
}

img#TOT {
  height: 3rem;
  width: auto;
}

#nav-container div.item {
  cursor: pointer;
}

#nav-container div.item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

/* TITLE */
h1.ui.center.aligned.header {
  margin: 20px;
}

/* CARDS */
.card-header {
  background-color: green !important;
}

div.ui.fluid.card div.card-header div.card-label {
  color: white;
}

/* TABLE */
#standings-table {
  padding: 0px;
}

.ui.celled.table tr td, .ui.celled.table tr th {
  padding: 4px;
}

/* MOBILE */
@media screen and (max-width:600px){
    .mobile-table {
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width:768px){
    .desktop-table {
        display: none;
    }
}

@media screen and (min-width:768px) and (max-width:990px){
    .mobile-table {
        display: none;
    }
}

@media screen and (min-width:990px){
    .desktop-table {
        display: none;
    }
}
