/* TEAM NAV */
#nav-container {
  text-align: center;
  overflow: auto;
}

#club-navbar {
  display: -webkit-inline-box;
}

img#TOT {
  height: 3rem;
  width: auto;
}

#nav-container div.item {
  cursor: pointer;
}

#nav-container div.item:hover {
  background-color: transparent;
  box-shadow: none;
  border-color: darkred;
}
